<main id="pageContent" class="page has-sidebar">
<div class="container-fluid relative animatedParent">
    <div class="animated p-md-5 p-3">
        <section>
            <div class="relative mb-5">
                <h1 class="mb-2 text-primary">A propos</h1>
                <p>Une incroyable aventure humaine en quelques mots...</p>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="p-3">
                            <div class="d-md-flex align-items-center">
                                <div>
                                    <h2 class="font-weight-lighter h3 my-3 text-primary">SpotiTube en bref</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <div class="mb-3">
                                <p>Initié dans le cadre de la formation The Hacking Project promotion été 2020, ce projet a été développé par <%= link_to '5 apprentis développeurs', root_path %>.</p><br>
                                Ilconsiste en une application web permettant aux utilisateurs de créer des playlists collaboratives de vidéos Youtube. En quelques clics seulement, l'utiisateur génère une playlist, y ajoute des vidéos et invite d'autres personnes à l'enrichir.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="p-3">
                            <div class="d-md-flex align-items-center">
                                <div>
                                    <h2 class="font-weight-lighter h3 my-3 text-primary">Remerciements</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <div class="mb-3">
                                 <p>Nous remercions chaleureusement :</p>
                                    <ul>
                                        <li>♫ David KRIEF et Hadrien SAMOUILLAN, nos mentors, pour leur aide précieuse et leurs conseils avisés ;</li>

                                        <li>♫ Alexandra EZRA, graphiste, pour le design de notre super logo.</li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="p-3">
                            <div class="d-md-flex align-items-center">
                                <div>
                                    <h2 class="font-weight-lighter h3 my-3 text-primary">THP</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <div class="mb-3">
                                <p>The Hacking Project est un organisme de formation en développement web qui offre une nouvelle approche pédagogique axée sur l'apprentissage collectif, sans locaux et sans professeur.</p>
                                <p>Nous avons suivi le cursus intensif Full Stack Web, au cours duquel nous avons acquis les compétences suivantes : </p>
                                <ul>
                                    <li> ● Ruby, Ruby On Rails </li>
                                    <li> ● HTML5 / CSS3 / JavaScript </li>
                                    <li> ● Base de données SQL </li>
                                    <li> ● Apprentissage Git & GitHub </li>
                                    <li> ● Utilisation de terminal IDE (Sublime Text / Visual Studio Code / intelliJ Idea) </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>