<%= render 'update_form', user: @user %>

    <div class="text-center mt-4">
      <%= link_to 'Voir mon profil', @user, class:"btn btn-primary mr-4"%>
      <%= link_to "Page d'accueil", root_path, class:"btn btn-secondary"%>
    </div>
